
@{
    Layout = null;
}

<html>

@await Html.PartialAsync("_HeadPartial")


<body>
  <div class="container-scroller">
    <!-- partial:~/Skydash/partials/_navbar.html -->
        @await Html.PartialAsync("_NavBarPartial")
    <!-- partial -->
   
    
    <div class="container-fluid page-body-wrapper">
           @await Html.PartialAsync("_SideBarPartial")
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
              @RenderBody()
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:~/Skydash/partials/_footer.html -->
                @await Html.PartialAsync("_FooterPartial")
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->

  </div>
    @await Html.PartialAsync("_ScriptPartial")

    </body>
    </html>