@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
{

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Deneyim Düzenleme Paneli</h4>
               
                <form class="forms-sample">
                    <div class="form-group">
                        <label >Başlık</label>
                        <input type="text" class="form-control" name="name" >
                    </div>
                    <div class="form-group">
                        <label >Tarih</label>
                        <input type="text" class="form-control" name="date" >
                    </div>
                    <div class="form-group">
                        <label >Görsel</label>
                        <input type="text" class="form-control" name="ımgurl" >
                    </div>
                 
                    <div class="form-group">
                        <label >Textarea</label>
                        <textarea class="form-control" name="Description" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                    
                </form>
            </div>
        </div>
    </div>
}