@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">Hzimetlerim</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ExperinceId</td>
                                <td>@item.Name</td>
                                <td>@item.Date</td>
                                <td><a href="/Experience/DeleteExperience/@item.ExperinceId" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Experience/EditExperience/@item.ExperinceId" class="btn btn-outline-success">Güncelle</a></td>
                            
                            </tr>
                        }
                  
                
                    </tbody>
                </table>
                <br />
                <br />
                <a href="/Experience/AddExperience" class="btn btn-outline-info">Yeni ekle</a>
            </div>
        </div>
    </div>
</div>
