@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "Editkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
<h3 class="mb-0"> Yetenek DÜzenleme Sayfası</h3>
</div>
@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SkillId)
    <br />
    @Html.Label("Yetenek Başlığı")
    <br />
    @Html.TextBoxFor(x=> x.Title, new {@class="form-control"})
    <br />
    <label>Değer</label>
    <br />
       <br />
    @Html.TextBoxFor(x=> x.Value, new {@class="form-control"})
    <br />

    <button class="btn btn-primary">Güncelle</button>



}